* {
  box-sizing: border-box;
}
.main-title {
  display: flex;
  justify-content: center;
}
.bottom-box {
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  height: 200px;
  width: 25%;
  display: flex;
}
.edge-box {
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  height: 300px;
  width: 25%;
  display: flex;
}
.middle-box {
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  height: 300px;
  width: 50%;
  display: flex;
}
.category {
  display: flex;
  display: inline;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  height: 50px;
  width: 75%;
  align-items: center;
}
.categories {
  display: flex;
  flex-direction: column;
}
.boxes {
  display: flex;
  flex-direction: row;
}

.politics {
  background-color: yellow;
}
.technology {
  background-color: lightblue;
}

.local {
  background-color: green;
}
.opinion {
  background-color: blue;
}
.sports {
  background-color: purple;
}
.puppy {
  width: 95%;
  height: 100%;
}
.bottom {
  height: 150px;
}
